# Secrets for Mac setup - DO NOT COMMIT
# Copy these values to the appropriate files after running setup-mac.sh

## app/lib/core/config/environment.dart
MAPBOX_TOKEN=pk.eyJ1Ijoia2hhcm1vbjE1IiwiYSI6ImNtbWJhdjNlajBoOGIyb3BybjBpbHFmNjEifQ.0dGq4rhmbn616XzIkoNtg

## app/lib/amplifyconfiguration.dart
AWS_REGION=us-east-2
USER_POOL_ID=us-east-2_4TMK6ZkEw
USER_POOL_CLIENT_ID=604ra5vcs63vtrumm06gdu3dma
IDENTITY_POOL_ID=us-east-2:e9f40e34-a338-4199-ba5e-b04f80d53674
GRAPHQL_ENDPOINT=https://2durs45npzcqjisfeo3icksosy.appsync-api.us-east-2.amazonaws.com/graphql
S3_BUCKET=oym-media-dev-668319989887
CDN_URL=https://d2x7rbog9vnm2i.cloudfront.net
